iframe{
	display: inline;
	width: 425px;
	height: 350px;
	border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
}

.content {
	text-align: justify;
	width: 55%;
    float: left;
    margin-left: 40px;
    margin-top: 0px;
	color: #686363;
}

.pdf{
	padding: 5px 10px;
	line-height: 16px;
	color: #fff;
	padding-left: 30px;
	border: 0;
	border-radius: 3px;
	transition: all .25s ease-in-out;
	background-color: #C09853;
	background-repeat: no-repeat;
	background-position: 6px 4px;
	background-image: url(../media/pdf/page_white_acrobat.png);
	font-size: 13px;
	text-align: center;
}

.pdf:hover{
	background-color: #4e856b;
}
.mailen{
	padding: 5px 10px;
	line-height: 16px;
	color: #fff;
	padding-left: 30px;
	border: 0;
	border-radius: 3px;
	transition: all .25s ease-in-out;
	background-color: #C09853;
	background-repeat: no-repeat;
	background-position: 6px 4px;
	background-image: url(../media/mail2.png);
	font-size: 13px;
	text-align: center;
}

.mailen:hover{
	background-color: #4e856b;
}

.flex-container{
	display: flex;
}

@media only screen and (max-width: 800px) {
	.main{
		height: 1050px !important;
	}
	iframe{
		display: inline-block;
	}
	.flex-container{
		display: inline-block;
	}
}