body {
  background: lightgrey;
}

.main {
  margin: auto;
  background: white;
  width: 1000px;
  height: 1000px;
  display: block;
}

.header {
  background: red;
  width: 100%;
  height: 15%;
}

.Htext {
  background: #558971;
  width: 40%;
  height: 53%;
  position: relative;
  top: 30px;
  left: 20px;
  text-align: center;
}

.Htext h4, .Htext h5 {
  margin: 7px;
  position: relative;
  top: 20px;
  color: white;
  font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}

.Hlogo {
  position: relative;
  left: 800px;
  top: -70px;
}

.Hwifi {
  position: relative;
  left: 400px;
  top: -70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
}

li a {
  display: block;
  color: #558971;
  text-align: center;
  padding: 5px 26px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #111;
}