body {
  background: lightgrey;
  margin-top: 20px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("media/xmas.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  filter:alpha(opacity=80);
  z-index: -90;
}

.main {
  margin: auto;
  margin-top: -8px;
  background: white;
  width: 990px;
  height: 500px;
  display: block;
}

.header {
  background: white;
  width: 990px;
  height: 15%;
  margin: auto;
  border-bottom: 1px dashed #d6d6d6;
}

.Htext {
  background: #558971;
  width: 45%;
  height: 90px;
  position: relative;
  top: 30px;
  left: 20px;
  text-align: center;
}

.Htext h4, .Htext h5 {
  margin: 7px;
  position: relative;
  top: 20px;
  color: white;
  font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}

.Htext h4 {
  font-size: 19px;
}

.Htext h5 {
  font-size: 16px;
}

.Hlogo {
  position: relative;
  left: 800px;
  top: -60px;
  width: 15%;
}

.Hwifi {
  position: relative;
  left: 400px;
  top: -70px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: -0.25%;
  margin-top: -50px;
  padding: 0;
  overflow: hidden;
  background: #f6f6f6;
  float: left;
  border-bottom: 1px solid #444;
  z-index: 99;
  width: 100.5%;
}

li {
  float: left;
  z-index: 99;
}

li a {
  display: block;
  color: #558971;
  text-align: center;
  padding: 5px 26px;
  text-decoration: none;
  font-weight: bold;
  z-index: 99;
}

li a:hover {
  border-bottom: 3px solid rgba(85, 137, 113, .4);
}

footer {
  margin: auto;
  margin-top: -30px;
  background: white;
  width: 990px;
  height: 100px;
  display: block;
  text-align: center;
  border-top: 1px dashed #d6d6d6;
}

hr {
  border-top: 1px dashed #d6d6d6;
  border-bottom: none;
}

p {
  font-family: Calibri;
  font-size: 12px;
  line-height: 18px;
}

footer a {
  color: #558971;
  text-decoration: none;
}

footer a:hover {
  color: #2b473a;
}

.fab {
  padding: 6px;
  text-align: center;
  text-decoration: none;
  margin: -5px 3px;
}

.fab:hover {
    opacity: 0.2;
    color: white;
    background: black;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
  font-size: 2em;
  width: 5%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  font-size: 2em;
  width: 5%;
}

canvas{
  position: absolute;
  top: 0;
  width: 99%;
  height: 850px;
  left: 0;
  z-index: -1;
}  